<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img [src]="" [alt]="title" width="100" height="75" class="d-inline-block align-text-top">
        </a>

        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav nav-pills me-auto my-2 my-lg-0 navbar-nav-scroll">
                <li class="nav-item" *ngFor="let route of routes" [routerLinkActive]="['active']"
                    #rla="routerLinkActive">
                    <a class="nav-link" [routerLink]="route.link" [ngStyle]="rla.isActive ? {'color': 'red'} : {}">{{
                        route.name }}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>