<div class="card">
    <div class="card-header">
        PRODUCTO xxxN x
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-9">
                <div class="vgstack gap-2">
                    <p>pan</p>
                    <p>Estado: </p>
                </div>
            </div>
            <div class="col-3">
                <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="collapse" data-bs-target="#collapseExample">Expandir</button>
            </div>
        </div>
    </div>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            Some placeholder content for the collapse component. This panel is hidden by default but revealed when the
            user activates the relevant trigger.
        </div>
    </div>
</div>