<div class="container mt-4">
    <nav class="navbar navbar-expand-sm p-0">
        <div class="container-fluid">
            <div class="justify-content-center">
                <ul class="nav">
                    <li class="nav-item" *ngFor="let route of routes">
                        <a
                            class="nav-link nav-mod-item"
                            [routerLinkActive]="['nav-mod-item-active']"
                            [routerLink]="route.link"
                            >{{ route.name }}</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<router-outlet></router-outlet>
