<div class="card">
    <div class="card-header">SOLICITUD N {{ request.Id }}</div>
    <div class="card-body">
        <div class="row">
            <div class="col-8">
                <div class="vgstack gap-2">
                    <p>
                        <strong>Hora de registro</strong>
                        {{ request.Registration }}
                    </p>
                </div>
            </div>
            <div class="col-4">
                <div class="vstack gap-2">
                    <mat-dialog-actions>
                        <button
                            type="button"
                            class="btn btn-sm btn-warning"
                        >
                            Ver más
                        </button>
                        <div class="hstack gap-2 d-flex">
                            <button
                                type="button"
                                class="flex-fill btn btn-sm btn-primary"
                            >
                                Modificar
                            </button>
                            <button
                                type="button"
                                class="flex-fill btn btn-sm btn-primary"
                            >
                                Cancelar
                            </button>
                        </div>
                    </mat-dialog-actions>
                </div>
            </div>
        </div>
    </div>
</div>
