<div class="container bg-light">
    <h1 class="text-center">{{ title }}</h1>
    <div class="row">
        <div class="col-5 text-center">
            <div class="vstack gap-3">
                <h2>{{ subtitle1 }}</h2>
                <h3>FILTROS</h3>
                <div class="d-flex justify-content-center align-items-center">
                    <div class="form-check">
                        <input
                            type="checkbox"
                            class="form-check-input"
                            value=""
                            id="flexCheckDefault"
                        />
                        <label class="form-check-label" for="flexCheckDefault"
                            >Ver únicamente solicitudes pendientes</label
                        >
                    </div>
                </div>
                <div>
                    <p>Descargar historial de solicitudes como</p>
                    <button type="button" class="btn btn-secondary">PDF</button>
                    <button type="button" class="btn btn-secondary">
                        XLSX
                    </button>
                </div>
                <div mat-dialog-actions>
                    <p class="m-0">Ingresar nueva solicitud</p>
                    <button type="button" class="btn btn-secondary" (click)="openNewRequestFormDialog()">
                        Solicitud
                    </button>
                </div>
            </div>
        </div>
        <div class="col-7">
            <div class="vstack gap-3">
                <h2 class="text-center">{{ subtitle2 }}</h2>
                <div style="max-height: 500px; overflow-y: auto">
                    <app-prod-supply-req-card
                        *ngFor="let req of requests"
                        [request]="req"
                    ></app-prod-supply-req-card>
                </div>
            </div>
        </div>
    </div>
</div>
