<button mat-icon-button mat-dialog-close style="float: right">
    <mat-icon>close</mat-icon>
</button>

<h1 mat-dialog-title style="margin-top: 40px">¿Desea cancelar la solicitud?</h1>

<div mat-dialog-content>
    <p style="color: red">
        El registro <strong>NO</strong> puede ser recuperado después de esta
        acción.
    </p>
</div>

<div mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true">Sí</button>
    <button mat-button mat-dialog-close cdkFocusInitial>No</button>
</div>
